$color-danger = red;
$color-primary = blue;
$color-success = green;
$color-info = #379ba4;
$default-color = #fff;
$border-color = #ddd;

$line-height-ratio = 1.3
$max-font = 14px
$body-font = "Helvetica Neue","Helvetica","Arial",'sans-serif'
$title-font = "Helvetica Neue","Helvetica","Arial",'sans-serif'

$align-center(selectedPosition = relative)
  position selectedPosition
  left 50%
  transform translateX(-50%)
  -webkit-transform translateX(-50%)
  -moz-transform translateX(-50%)